.numbers table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 16px;
    border-spacing: 0;
}

.numbers table tr td {
    border: 1px solid red;
    cursor: pointer;
}